.add-container {
    text-align: center;
    input[type=text] {
        padding: 5px 0 5px 5px;
        font-size: 18px;
        outline: none;
        border-radius: 10px;
        color: #EB5E28;
        margin: 0 10px;
        &::placeholder {
            color: lightgray;
        }
    }
}